################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebServer/JudgementApp/assets/img/company
/WebServer/JudgementApp/Judgement/assets/img/company
