
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background: rgb(241,247,252);">
    <section class="contact-clean">
        <form method="post" style="text-align: center;">
            <h2 class="text-center">Thank You!</h2>
                <div class="card shadow mb-4" id="Question-1">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Information&nbsp;</h6>
                    </div>
                    <div class="card-body" style="text-align: left;"><label class="form-label" style="font-style: normal;font-weight: bold;">Your response has been submitted successfully</label></div>
                </div>
        </form>
    </section>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
</body>
